.container{
    border:5px solid goldenrod;
    max-height: 100vh;
    
    /*display: flex;
    flex-wrap: wrap;
    flex-direction: column;*/
}

h1{
    border:5px solid red;
}
button {
    border: 5px solid mistyrose;

}